.slider-fade 
  animation-name: fade
  animation-duration: 1.5s


@keyframes fade 
  from 
    opacity: .4
  to 
    opacity: 1


.slider
  background: $black
  position: relative
  padding-top: 80px
  +screen_md
    overflow: hidden
  &__heading
    text-align: right
  &__card
    margin: 30px
    padding: 30px
    background: white
    color: $black
    height: 100%
  &__col
    &::before
      font-size: 3rem
      display: block
  &__content
    padding: 50px 0
    color: white
    &__text
      &_title
        color: white
        font-weight: bold
        font-size: 2rem
        margin-top: 0
        margin-bottom: 4rem
      &_light
        font-size: 1rem
        font-weight: 300
        margin-bottom: 10px
        display: flex
        &::before
          font-size: 14px
          margin-top: 3px
    &__item
      color: white
      font-size: 1.5rem
    &__wrap
      position: relative
      top: 0
      display: flex
      left: 0
      right: 0
      border-bottom: 6px solid white
      justify-content: space-around
      padding-top: 15px
      background: #d53e5c
.active
  color: $pink
  background: $black

.form
  +screen_md
    padding: 20px
    width: 400px
    margin-left: auto
  &__title
    font-size: 1.2rem
    color: $grey
    text-align: center
    margin: 30px 0 0
    text-transform: uppercase
    +screen_md
      display: none
  &__input
    display: block
    width: 100%
    margin: 20px auto
    padding: 10px
    border: none 
    outline: none
    background: $grey
    border: 1px solid $grey
    +screen_md
      background: white
      width: 80%
    &::placeholder
      color: $black
      font-size: 12px
  &__btn
    margin-bottom: 20px
    border: none
    color: white
    background: $black
    padding: 8px 15px
    +screen_md
      margin-left: 10%
    &:focus, &:hover
      background: $pink


.first
  height: calc(100vh - 80px)
  display: flex
  align-items: center
  justify-content: center

.second
  background: white
  padding: 40px 0
  +screen_md
    padding: 80px 0
  .slider__content__text_title
    color: $black

.third
  padding-bottom: 40px
  .slider__content__text_title
    margin-bottom: 40px

.main
  font-size: 3rem

h3, h4
  font-weight: lighter

.text_selected
  color: $pink
  font-weight: bold

.price
  padding: 0 10px 
  background: $pink
  font-size: 32px
  font-weight: bold
  display: inline-block
  margin-top: 5px
  color: white

.block
  &_devider
    height: 20px
    width: 100%
    background: white
  
